:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --Font-size: 14px; /*(paragraph) */
    --Family-montserrat: 'Fraunces', serif;
    --Family-fraunces:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background: var(--Cream);
}

main .product-card-container {
    width: 100%;
    height: auto;
    background: var(--White);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card-container .product-img-container {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 220px;
}

.product-img-container img {
    width: inherit;
    height: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

main .product-card-info-container {
    padding: 20px;
}

.product-card-info-container .product-card__type {
    font-family: var(--Family-fraunces);
    color: var(--Dark-grayish-blue);
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.1875rem;
}

.product-card-info-container .product-card__name {
    font-family: var(--Family-montserrat);
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 1.75rem;
    margin-top: 0.75rem;
}

.product-card-info-container .product-card__info {
    margin-top: 0.75rem;
    font-family: var(--Family-fraunces);
    color: var(--Dark-grayish-blue);
    font-size: 0.875rem;
}

.product-card__Prices {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.product-card__Prices .product-card__price-final {
    font-family: var(--Family-montserrat);
    color: var(--Dark-cyan);
    font-size: 30px;
}

.product-card__Prices .product-card__price-original {
    margin: auto 10px;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
    font-size: 14px;
}

.product-card__button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.product-card__button-container .button__add-to-cart {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    background: var(--Dark-cyan);
    color: var(--White);
    font-size: 14px;
    font-family: var(--Family-fraunces);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.product-card__button-container img {
    height: 14px;
}